streamlit
ffmpeg
numpy
pandas
scipy
requests
torch
torchaudio
transformers
openai-whisper
sentence-transformers
faiss-cpu
langchain
langchain-huggingface
langchain-classic
langchain-community
huggingface-hub
