anyio==4.11.0
argcomplete==3.6.2
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.4.0
autocommand==2.2.2
babel==2.17.0
beautifulsoup4==4.14.2
bleach==6.3.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.2.1
colorama==0.4.6
comm==0.2.3
cryptography==46.0.3
dbus-python==1.4.0
decorator==5.2.1
defusedxml==0.7.1
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.20.0
gps==3.26.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hyprshade==4.0.0
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
ipykernel==7.1.0
ipython==9.7.0
ipython_pygments_lexers==1.1.1
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.2
Jinja2==3.1.6
json5==0.12.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyterlab==4.4.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
kde-material-you-colors==2.0.0
libtorrent==2.0.11
Mako==1.3.10.dev0
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.2
materialyoucolor==2.0.10
matplotlib-inline==0.2.1
mdurl==0.1.2
meson==1.9.1
mistune==3.1.4
more-itertools==10.8.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio==1.6.0
notebook==7.4.7
notebook_shim==0.2.4
numpy==2.3.4
packaging==25.0
pandocfilters==1.5.1
parso==0.8.5
perf==0.1
pexpect==4.9.0
pillow==12.0.0
platformdirs==4.5.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
psutil==7.1.3
ptyprocess==0.7.0
pure_eval==0.2.3
pycairo==1.28.0
pycparser==2.23
Pygments==2.19.2
PyGObject==3.54.5
python-dateutil==2.9.0
python-json-logger==3.3.0
python-magic==0.4.27
pytz==2025.2
pywal16==3.8.9
pywalfox==2.7.4
pyxdg==0.28
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
Reflector==2023.6.28.0.36.1
requests==2.32.5
rich==14.2.0
rpds-py==0.28.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.14
screeninfo==0.8.1
Send2Trash==1.8.3
setuptools==80.9.0
six==1.17.0
smbus==1.1
sniffio==1.3.1
soupsieve==2.8
stack_data==0.6.3
tinycss2==1.4.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.15.0
urllib3==2.5.0
visidata==3.3
waypaper==2.7
wcwidth==0.2.14
webencodings==0.5.1
websocket-client==1.9.0
wheel==0.45.1
yt-dlp==2025.10.22
zipp==3.21.0
